[Unit]
Description=Regel Screensaver & Wallpaper Audio Reactive Daemon
Documentation=https://github.com/rchandia/regel_screensaver
PartOf=graphical-session.target
After=pipewire.service wireplumber.service

[Service]
Type=simple
ExecStart=/usr/bin/regel-daemon --gain 3.5 --gamma 0.45 --auto-gain
BusName=org.regel.Audio
Restart=on-failure
RestartSec=3s
Slice=session.slice

[Install]
WantedBy=graphical-session.target
